p {
  background-color: grey;
  border: 1px solid grey;
}

.paragraf1 {
  background-color: orange;
}

.paragraf2 {
  background-color: blue;
  color: white;
}

.paragraf3 {

  background-color: white;
  font-family: monospace;
  font-size: 18px;
}

.paragraf4 {
  font-weight: bold;
  font-size: 16px;
  border: 1px solid black;
}
