.container {
 width: 700px;
 height: 500px;
 background-color: rgb (231, 232, 226);

 margin: 0 auto;
 position: relative;
}
.satu,
.dua,
.tiga {
 width: 150px;
 height: 150px;
 font-size: 25px;
 line-height: 150px;
 text-align: center;
 color: white;
}
.satu {
 background-color: #ff1a00;
 position: absolute;
 left: 10px;
 top: 10px;
}
.dua {
 background-color: #008c00;
 position: absolute;
 left: 50px;
 top: 50px;
}
.tiga {
 background-color: #4096ee;
 position: absolute;
 left: 100px;
 top: 100px;
}
