body {
  background-image: url(Stupa_Borobudur.jpg);
  background-size: cover;
}

div {
  height: 500px;
  width: 700px;
  margin: 0 auto;
  background-image: url(avocado.jpg);
  border: 2px solid red;
}

p {
  text-align: justify;
}

.repeat {
  background-repeat: repeat-x;
}
