* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* Navbar */
nav {
  display: flex;
  background-color: blueviolet;
  justify-content: space-around;
  padding: 20px 0;
  color: rgb(212, 182, 240);
  align-items: center;
  height: 50px;
}

nav .logo {
  font-family: "Pacifico", cursive;
  letter-spacing: 3px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 40%;
}

nav ul li a {
  color: rgb(212, 182, 240);
  text-decoration: none;
  font-size: 0.8em;
}

nav ul li a:hover {
  color: aliceblue;
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:last-child {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

/* Responsive Breakpoint */

/* Ukuran tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* Ukuran Mobile */
@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 80%;
    background-color: blueviolet;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }
}
